h1{
    color: rgb(57, 19, 92);
    text-align: center;
}

.container-fluid{

    display: flex;
    width: 100%;
    min-height: calc(100vh - 55px);
    background-repeat: repeat-y;
}

#list{
    flex:5;
    display: grid;
 background-color: rgba(170, 170, 170, 0.192); 

}

#imageBack{
    flex:5;
    
 background-color: rgba(7, 3, 17, 0.842); 
    height: 800px;
    background-image: url("https://cdn.pixabay.com/photo/2017/07/22/10/22/m2a3-bradley-2528325_960_720.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-blend-mode:soft-light;
    min-height: calc(100vh - 55px);
}

#form{
    color: white;
    flex:3; 
    background-color: rgba(53, 49, 0, 0.644);
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-image: url("https://cdn.pixabay.com/photo/2017/08/01/14/42/knight-2565957_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:soft-light;

    
}
label, input, select{
    border-radius: 8px;
    padding: 5px;
    margin-bottom: 5px;
}

.btn-primary{
    margin-top: 10px;
}

.clickable-icon{
font-size: 32px;
cursor: pointer;

}
.icon-important{
    color: rgb(255, 94, 0);
}

#txtColor{
    width: 100%;
    height: 30px;
}

#list{
    display: flex;
     flex-direction: row-reverse;
    justify-content:space-between;
    background-image: url(https://pixabay.com/photos/m2a3-bradley-united-states-army-2528325/);
    height: 800px;

}
.btn-list{

    border: 2px solid black;
    font-size: 14px;
    height: 50px;
}



#pendingTask{
padding: 20px;
width: 100%;
}


.taskDisplay{

padding: 0 10px;
flex: 1;
}
    
.hide-initial{
    display:none;
}

.wholeTask{
    display: flex;
    color: rgba(255, 255, 255, 0.918);
    border: 3px solid rgba(216, 159, 4, 0.959);
    background-color: rgba(255, 189, 6, 0.603);
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px 0;  
    border-right-width: 20px;

}

.fa-trash-can{
cursor:pointer;
}